<!DOCTYPE html>
<html ng-app="zombieApp">
  <head>
    <title>Incremancer</title>
    <meta name="description" content="Zombie necromancer idle game">
    <meta name="keywords" content="zombie,game,idle,javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#104510" />
    <meta charset="utf-8"/>
    <link rel="manifest" href="manifest.json">
    <script src='https://www.kongregate.com/javascripts/kongregate_api.js'></script>
    <script src="js/lz-string.min.js"></script>
    <script src="js/pixi-legacy.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/utilsfunctions.js"></script>
    <script src="js/zombiemancer.js"></script>
    <script src="js/spells.js"></script>
    <script src="js/map.js"></script>
    <script src="js/partfactory.js"></script>
    <script src="js/creaturefactory.js"></script>
    <script src="js/gamemodel.js"></script>
    <script src="js/upgrades.js"></script>
    <script src="js/trophies.js"></script>
    <script src="js/humans.js"></script>
    <script src="js/zombies.js"></script>
    <script src="js/creatures.js"></script>
    <script src="js/graveyard.js"></script>
    <script src="js/bloodparts.js"></script>
    <script src="js/angularzombie.js"></script>
    <!-- <script src="js/zombie.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="zombiemancer.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  </head>
  <body ng-controller="ZombieController as zm">
    <div class="top-bar {{zm.sidePanels.open ? 'open' : ''}}">
      <div class="resources">
          <label class="energy">Energy: {{zm.model.energy|decimal}} / {{zm.model.energyMax|whole}}<span class="percent" ng-style="{'width':zm.energyPercent() + '%'}"></span></label>
          <label class="blood">Blood: {{zm.model.persistentData.blood|whole}} / {{zm.model.bloodMax|whole}}<span class="percent" ng-style="{'width':zm.bloodPercent() + '%'}"></span></label>
          <label class="brains">Brains: {{zm.model.persistentData.brains|whole}} / {{zm.model.brainsMax|whole}}<span class="percent" ng-style="{'width':zm.brainsPercent() + '%'}"></span></label>
          <label class="bones" ng-if="zm.model.constructions.graveyard || zm.model.persistentData.bones > 0">Bones: {{zm.model.persistentData.bones|whole}}</label>
          <label class="parts" ng-if="zm.model.constructions.factory || zm.model.persistentData.parts > 0">Parts: {{zm.model.persistentData.parts|whole}}</label>
      </div>
      <div class="stats">
        <label>Level: {{zm.model.level}}</label>
        <label>Humans: {{zm.model.getHumanCount()}}</label>
        <label>Zombies: {{zm.model.zombieCount}}</label>
        <label ng-if="zm.model.constructions.monsterFactory">Creatures: {{zm.model.creatureCount}} / {{zm.model.creatureLimit}}</label>
        <label ng-if="zm.model.persistentData.showfps">FPS: {{zm.model.frameRate}}</label>
      </div>
      <div class="message" ng-if="zm.message">
          <p>{{zm.message}}</p>
        </div>
    </div>

    <div class="buttons {{zm.sidePanels.open ? 'open' : ''}}">
      <button ng-click="zm.openSidePanel('shop');" class="{{zm.sidePanels.shop ? 'active' : ''}}">Shop</button>
      <button ng-click="zm.openSidePanel('construction');" ng-if="zm.model.construction" class="{{zm.sidePanels.construction ? 'active' : ''}}"><span ng-if="zm.model.persistentData.currentConstruction" class="tag">{{zm.constructionPercent()}}%</span>Construction</button>
      <button ng-click="zm.openSidePanel('graveyard');" ng-if="zm.model.constructions.graveyard" class="{{zm.sidePanels.graveyard ? 'active' : ''}}">Graveyard</button>
      <button ng-click="zm.openSidePanel('factory');" ng-if="zm.model.constructions.factory" class="{{zm.sidePanels.factory ? 'active' : ''}}">Factory</button>
      <button ng-click="zm.openSidePanel('runesmith');" ng-if="zm.model.constructions.runesmith" class="{{zm.sidePanels.runesmith ? 'active' : ''}}">Runesmith</button>
      <button ng-click="zm.openSidePanel('prestige');" ng-if="zm.isShowPrestige()" class="{{zm.sidePanels.prestige ? 'active' : ''}}">Prestige</button>
      <button ng-click="zm.openSidePanel('options');" class="{{zm.sidePanels.options ? 'active' : ''}}">Options</button>
    </div>

    <div class="zoom-buttons" ng-if="zm.model.persistentData.zoomButtons">
      <button ng-click="zm.zoom(-1);">-</button>
      <button ng-click="zm.resetZoom();">Reset</button>
      <button ng-click="zm.zoom(+1);">+</button>
    </div>
    
    <prestige-menu></prestige-menu>
    <shop-menu></shop-menu>
    <construction-menu></construction-menu>
    <graveyard-menu></graveyard-menu>
    <runesmith-menu></runesmith-menu>
    <factory-menu></factory-menu>
    <options-menu></options-menu>

    <div class="spells">
      <button ng-repeat="spell in zm.spells.getUnlockedSpells()" ng-click="zm.spells.castSpell(spell)" class="spell {{spell.active ? 'active' : (spell.onCooldown ? 'cooldown' : '')}}" ng-disabled="spell.onCooldown || spell.energyCost > zm.model.energy">
        <span class="icon">{{spell.name}}</span>
        <span class="timer" ng-if="spell.active || spell.onCooldown">{{spell.active ? spell.timer : spell.cooldownLeft|whole}}</span>
        <span class="tooltip" ng-if="!spell.active && !spell.onCooldown">{{spell.tooltip}}</span>
      </button>
    </div>

    <div class="start-game" ng-if="zm.model.currentState == zm.model.states.startGame">
      <h2>Incremancer</h2>
      <h4>Take control of a horde of zombies to ravage small towns</h4>
      <ul>
        <li ng-repeat="text in zm.howToPlay">{{text}}</li>
      </ul>
      <button ng-click="zm.startGame();">Start Level {{zm.model.level}}</button>
    </div>

    <div class="end-level" ng-if="zm.model.currentState == zm.model.states.levelCompleted">
      <h2>Level {{zm.model.level}} Complete</h2>
      <h4>All the humans are either dead or undead!</h4>
      <h4>You have earned {{zm.model.level}} prestige points</h4>
      <h4 ng-if="zm.model.endLevelBones">Your bone collectors have gathered the remaining {{zm.model.endLevelBones}} bones from the town</h4>
      <button ng-click="zm.nextLevel();">Start Level {{zm.model.level + 1}}</button>
    </div>

    <div class="start-game" ng-if="zm.model.currentState == zm.model.states.prestiged">
      <h2>You have prestiged!</h2>
      <p>It's time to start from the beginning again, but this time stronger and faster.</p>
      <h4>You have {{zm.model.persistentData.prestigePointsToSpend}} prestige points to spend</h4>
      <p>It is recommended to spend your points before clicking start game</p>
      <p>as some of their effects will only activate when a new level is started.</p>
      <button ng-click="zm.startGame();">Start Level {{zm.model.level}}</button>
    </div>
  </body>
</html>