<div class="level-stats {{zm.model.persistentData.zoomButtons ? 'zoom' : ''}}" ng-if="zm.model.stats && zm.showStats">
  <table>
    <tr>
      <th>Zombies</th>
      <td>{{zm.model.stats.zombie.count|whole}}</td>
      <th>Civilians</th>
      <td>{{zm.model.stats.human.count|whole}}</td>
      <th>Police</th>
      <td>{{zm.model.stats.police.count|whole}}</td>
      <th>Army</th>
      <td>{{zm.model.stats.army.count|whole}}</td>
    </tr>
    <tr>
      <th>Health</th>
      <td>{{zm.model.stats.zombie.health|whole}}</td>
      <th>Health</th>
      <td>{{zm.model.stats.human.health|whole}}</td>
      <th>Health</th>
      <td>{{zm.model.stats.police.health|whole}}</td>
      <th>Health</th>
      <td>{{zm.model.stats.army.health|whole}}</td>
    </tr>
    <tr>
      <th>Damage</th>
      <td>{{zm.model.stats.zombie.damage|whole}}</td>
      <th>Damage</th>
      <td>{{zm.model.stats.human.damage|whole}}</td>
      <th>Damage</th>
      <td>{{zm.model.stats.police.damage|whole}}</td>
      <th>Damage</th>
      <td>{{zm.model.stats.army.damage|whole}}</td>
    </tr>
  </table>
</div>